.title {
	font-size: 36px;
	height: 100%;
	width: 100%;
	color: hotpink;
	background-color:cyan;
}

.pokemon_pictures {
	height: 20%;
	width: 20%;
}
.pokemon {
	font-size: 15px;
	color: pink;
	background-color: purple;
}

.pokemon3 {
	color: pink;
	background: purple;
}

ol li img {
	height: 20%;
	width: 20%;
}

.pokemon12 {
   
   color: purple;
   background-color: lightblue;
}



.footer {
    color: lightblue;
    background color: darkblue;
}



.pokemon10 {

   color lightblue;
   background color: cyan;

}



.pokemonpictures1 {

    height: 24px;
    font-weight: 24px;

}